## intro 리스트 & 튜플 
 * 복수개의 값을 담는 컬렉션(collection) 타입의 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 리스트와 튜플의 차이
 * list - 생성된 후에 변경 가능 - 추가, 삭제, 변경 등  
 * tuple - 생성된 후에 변경 불가능

# 1. 리스트

#### (1) **리스트 생성하는 방법**
 -  [  ] (대괄호)를 이용하여 리스트를 만든다.  (가장 많이 사용하는 방법!)
 -  list() 함수를 이용하여 만든다.

a = []          #값이 비어있는 리스트 생성
print(a)

a = [1, 2, 3, 5, 10]    #5개의 원소가 있는 리스트 생성
print(a)

a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

a = 'hello world'
b = list(a)           # 문자열의 각 문자를 원소로 한 리스트 생성

print(b)

c = (1, 2, 3)    # 소괄호로 생성하면 튜플!
d = list(c)

print(d)

#### (2) **리스트 인덱싱(indexing)**
 * 문자열의 인덱싱과 동일한 원리
 * [  ] 대괄호를 이용하여 해당 인덱스의 항목을 얻어옴
 * [i] - i+1번째 원소를 반환 (왜냐하면 인덱스 0이 첫번째 원소를 반환하므로)
 * [-i] - 음수인 경우, 끝에서 i번째 원소를 반환

a = [1, 2, 3, 4, 5, 6]
a[2]
a[5]
a[-2]

#### (3) **리스트 개별 아이템에 접근**
 - 인덱스로 접근하여 값을 변경 가능

a = [1, 2, 3, 4, 5]
a[0] = 100
a[-1] = 90    #a[4]=90 과 동일

a

#### (4) **리스트 슬라이싱 (slicing)** (ppt)
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 리스트!

a = [1, 2, 3, 4, 5, 6, 7, 8]
a[4:7]
a[:7]
a[3:]
a[:]

a[1:7:2]    #start:end:increment (증가분, 기본값=1),  위의 a[1:7]과 잘 비교할 것!

### (5) 리스트(list)의 멤버 함수
 - 생성된 리스트에 내장되어 사용할 수 있는 함수  (문자열에도 멤버함수가 있었음!)
 - a.을 치고 *Tab키*를 눌러보면 멤버함수를 확인할 수 있음

a.            #멤버함수를 확인해 보자!

* **append()**
 + 리스트의 끝에 항목을 추가함

a = [1, 2, 3, 4, 5]
a.append(10)

a

+ **extend()**
 * 리스트를 연장

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  를 만들고 싶다면
a.append(b)     #이렇게 하면 될까?
a

In [6]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  를 만들고 싶다면 extend()함수!

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)
print(a)

In [7]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

- **[tip] 리스트 연결**
 - '+' 이용

a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(a+b)

In [8]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

+ **insert()**
 * 리스트의 원하는 위치에 항목 추가 (append() 는 맨 마지막에 추가)
 * 괄호안에 앞에는 index(위치)를, 뒤에는 object(추가할 아이템)을 명시

a = [1, 3, 4, 5, 6]
a.insert(1, 40)

a

In [9]:
a = [1, 3, 4, 5, 6]

+ **remove()**
 * 값(value)으로 항목 삭제  (인덱스로 지우는 게 아님을 주의!, 이것도 헷갈리면 "Shift+Tab"(도움말) 으로 확인하자!

a = [1, 2, 30, 30, 4, 5]
a.remove(2)
a

In [38]:
a = [1, 2, 30, 30, 4, 5]

[1, 30, 30, 4, 5]

a = [1, 2, 30, 4, 5, 30]
a.remove(30)
a

In [10]:
a = [1, 2, 30, 4, 5, 30]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

a = [2, 6, 7, 9, 10]
a.index(6)

In [11]:
a = [2, 6, 7, 9, 10]

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

a = [1, 2, 3, 4, 5, 10]
b = 7

c = b in a       #리스트 a 안에 b값이 있는가?  --->  False
c

In [12]:
a = [1, 2, 3, 4, 5, 10]
b = 7

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환 (리스트 자체는 정렬이 안되고 그대로 남아있음!)

a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort()               # 인수를 생략하하면 (오름차순 정렬!)
a

In [13]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]

a.sort(reverse=True)               # reverse=True (내림차순 정렬!)
a

a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
b = sorted(a)                # b만 정렬, a는 정렬안됨 
print(a)
print(b)

In [15]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]

a = sorted(a, reverse=True)                # reverse=True (내림차순 정렬!)
a

## (6)range() 함수를 이용한 리스트 생성 
  - 숫자리스트를 만들때 가장 많이 사용하는 함수 
  - range(start, stop, step) 
    - **start** 값부터 **stop-1**까지, **step 간격**으로 숫자 생성 
  - 인수 1개: range(stop)
    - **start = 0, step =  1**
  - 인수 2개: range(star, stop) 
    - **step =  1**
  - list 함수와 함께 사용

list(range(3)) #0부터 2까지

list(range(1,11)) #1부터 10까지

list(range(1,11,2))  #?

In [16]:
list(range(10,0,-1))  #10부터 ?까지 -1 간격으로

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
list(range(10,0,-2))  #10부터 ?까지 -2 간격으로

[10, 8, 6, 4, 2]

#튜플 **tuple**
 - 리스트와 같이 복수 개의 값을 갖는 컬렉션 타입
 - 소괄호 또는 괄호 없이 생성 
 - 리스트와의 차이점은 생성된 후 변경이 불가능! -->값이 변경되면 안되는 경우에 사용!
 - 인덱싱, 슬라이싱, 연결은 리스트와 동일!

In [ ]:
a = [1, 2, 3]    #대괄호 : 리스트
b = (1, 2, 3)    #소괄호 : 튜플

print(type(a))
print(type(b))

In [ ]:
tup1 = 3,4    #괄호 없이 생성
tup2 =(3,4,5)  #소괄호()로  생성
print('tup1:', tup1)
print(type(tup1))

In [ ]:
print('tup2:', tup2)
print(type(tup2))

In [ ]:
a[0] = 100      # 가능! 리스트니까...
print(a)

In [68]:
b=(1,2,3)

In [ ]:
b[0]=100       # 불가능! 튜플이니까....

#### **마지막 꿀팁! 변수의 동시 선언!**

a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

# 이 기능은 언제 유용할까?

In [70]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

* **이런 경우?** a와 b의 값을 교환하시오

In [ ]:
a = 5
b = 4

temp = a     # 보통은 temp라는 임시 변수를 사용함!
a = b
b = temp

print(a, b)

In [ ]:
a = 5
b = 4

a, b = b, a   #이렇게 쉽게 교환하다니!!!

print(a, b)