# **딕셔너리 (dictionary, dict)** 
 + 중괄호 {  } 를 이용하여 생성
 + 키(key) : 값(value)    형태의 구조
 + 예) 나라이름 : 수도이름
 + 순서를 따지지 않음. 즉, 인덱스가 없음

### (1) 기본 사용

a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'} 
type(a)

In [1]:
a = {'Korea': 'Seoul', 
     'USA': 'Washington D.C',
     'Canada': 'Ottawa'}

# 인덱스 대신에 키(key)를 이용하여 그에 대응하는 값(value)을 가져옴

a['Korea']

# 반대로 값(value)을 이용하여 그에 대응하는 키(key)를 가져올 수는 없음. 에러남!

a['Seoul']

b = {0:1, 1:6, 7:9, 8:10}
b[7]                  #이때의 7은 인덱스가 아니라 키임!

In [7]:
b = {0:1, 1:6, 7:9, 8:10}

In [ ]:
b[2]                   #2는 키에 없으니까 에러남

+ **항목 추가 및 변경**
 - 기존에 '키'가 존재 하면, 새로운 '값'으로 업데이트
 - 존재하지 않으면, 새로운 '키'와 '값'을 생성

a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto'
a['Japan2'] = 'Kyoto'
a['China'] = 'Beijing'

a

In [11]:
a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'}

In [10]:
a

{'Korea': 'Seoul',
 'Canada': 'Ottawa',
 'USA': 'Washington D.C',
 'Japan': 'Kyoto',
 'Japan2': 'Kyoto',
 'China': 'Beijing'}

### (2) 딕셔너리(dict)의 멤버 함수
 - 생성된 딕셔너리에 내장되어 사용할 수 있는 함수  
 - a.을 치고 *Tab키*를 눌러보면 멤버함수를 확인할 수 있음

a.                               #Tab을 입력해서 멤버함수를 확인해 보자!

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

a = {'a': 1, 'b': 2, 'c' : 3}
b = {'a': 2, 'd': 4, 'e': 5}

a.update(b)
a

b.update(a)
b

In [17]:
a = {'a': 1, 'b': 2, 'c' : 3}
b = {'a': 2, 'd': 4, 'e': 5}

In [16]:
a = {'a': 1, 'b': 2, 'c' : 3}
b = {'a': 2, 'd': 4, 'e': 5}

+ **pop()**
 - key를 찾아서 key:value 쌍을 삭제함
 - del 키워드를 사용해도 됨

a = {'a': 1, 'b': 2, 'c' : 3}
a.pop('b')   #pop함수에서도 key를 이용하여 삭제함!
a

In [19]:
a = {'a': 1, 'b': 2, 'c' : 3}

# del 키워드를 이용한 삭제

a = {'a': 1, 'b': 2, 'c' : 3}
print(a)

del a['b']   # del 키워드에서도 key를 이용하여 삭제함!
a

In [21]:
a = {'a': 1, 'b': 2, 'c' : 3}

- keys()
  - key만 뽑아내기

a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'}
a.keys()

In [28]:
a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'}

#key만으로 이루어진 리스트 만들기 
a_key_list=list(a.keys())
a_key_list

#특정항목 인텍싱
a_key_list[1]

- values()
  - vlaue만 뽑아내기

 a.values()

#value로만 이루어진 리스트 만들기 
a_value_list = list(a.values())
a_value_list

- key, value쌍 구하기 
 - items() - 키와 값의 쌍을 (튜플형태로) 반환

a.items()

In [26]:
a.items()

dict_items([('Korea', 'Seoul'), ('Canada', 'Ottawa'), ('USA', 'Washington D.C')])

In [30]:
#리스트로 만들려면?

* **clear()**
 + 딕셔너리의 모든 값을 초기화

print(a)
a.clear()
print(a)

* **get()**
 + 딕셔너리(dict)에서 값을 얻으내는 함수 (value access): .get(key)
 + get() 함수는 키가 없는 경우 에러는 나지 않고 None을 반환함
 + dict[key]로도 값을 얻을 수 있음 (단, 키가 없는 경우 에러가 발생함)

a = {'a': 1, 'b': 2, 'c' : 3}
print(a.get('a'))
print(a.get('d'))

In [32]:
a = {'a': 1, 'b': 2, 'c' : 3}

 만약  dict[key]로 access 한다면???

In [ ]:
a['c']    # 해당 key가 있는 경우 - 에러 안남!

In [ ]:
a['d']     #해당 key가 없는 경우 - 에러남

## **[참고] 집합 자료형(set)**
- 대괄호{ } 안에 key만 가지고 있는 형태
- 수학의 집합을 구현한 자료형
- 중복없이 유일해야 하고 원소들이 순서를 가지지않음. 즉, 인덱스를 사용할 수 없음 
- 리스트나 문자열에 set()함수를 사용하면 집합자료형 만들 수 있음

#집합 만들기
s1={1,2,3,4}
#타입보기 
type(s1)

In [37]:
s1={1,2,3,4}

#리스트를 집합으로 만들기 
#중복된 값은 사라짐 

a=[1,2,3,5,2] 
s2 = set(a)
s2

In [37]:
a=[1,2,3,5,2]

* **in 키워드**
 + key값 존재 확인

a = {'a':1, 'b':2, 'c':3}     #딕셔너리
b = {1, 2, 3, 4, 5, 6, 7, 9, 10, 100} #집합 

print (100 in b)
print (2 in a)
print ('c' in a)    #key에 해당하는 'b'는 문자이므로 이렇게 반드시 작은 따옴표를 붙여야 함!

In [39]:
a = {'a':1, 'b':2, 'c':3}     #딕셔너리
b = {1, 2, 3, 4, 5, 6, 7, 9, 10, 100} #집합

print(c in a)       # 이렇게 작은따옴표를 안 붙이면 에러가 남!

* **list를 set으로 변환**

a = [1, 1, 2, 3, 3, 4, 1, 5]
b = set(a)
b

In [44]:
a = [1, 1, 2, 3, 3, 4, 1, 5]

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) #부분 집합

In [57]:
a = {1, 2, 3}
b = {2, 3}

In [ ]:
#합집합

In [ ]:
#교집합

In [ ]:
#차집합

In [ ]:
#부분집합